html,
body {
  @apply text-black font-exo;

  &.dark {
    body {
      @apply bg-dark-800 text-slate-300;
    }
  }
}

h1 {
  font-family: "Exo 2";
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;

  @include media-breakpoint-down("xl") {
    font-size: 2.375rem;
    line-height: 3.2rem;
  }
}

h2 {
  font-family: "Exo 2";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;

  @include media-breakpoint-down("xl") {
    font-size: 1.875rem;
    line-height: 2.6rem;
  }
}

h3 {
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
}

h4 {
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.35rem;
}
