.main-footer {
  @apply py-4 bg-gray-50;

  &.dark {
    @apply bg-dark-600;
  }

  @include media-breakpoint-down("xl") {
    @apply hidden;
  }
}

.mobile-nav-wrapper {
  @apply w-full flex justify-center fixed bottom-0 left-0 z-70;

  @include media-breakpoint-up("xl") {
    @apply hidden bottom-6;
  }
}

.mobile-nav {
  min-width: 82px;
  height: 65px;
  box-shadow: 0 -5px 10px 0 rgba($color: #d4e2e2, $alpha: 0.5);
  background: linear-gradient(
    45deg,
    rgb(183 213 195 / 75%) 0%,
    rgba(187, 199, 220, 0.75) 100%
  );
  transform: scaleX(0.2) scaleY(0.5);

  @apply max-w-full flex px-3 rounded-t-3xl backdrop-blur-md origin-bottom;

  > a {
    margin: 0 -20px;
    opacity: 0;
  }

  a {
    flex: 1;
    @apply flex flex-col justify-center items-center py-4 px-3 text-dark-400 text-xs font-exo2 font-medium hover:text-red-500;

    svg {
      @apply w-6 h-6 mb-1 flex-shrink-0;
    }

    @include svgColor(#505166);

    &:hover {
      @include svgColor(#c25033);
    }

    &.active {
      @apply relative text-red-500;
      @include svgColor(#f26440);

      &:before {
        content: "";
        @apply w-5 h-0.5 absolute top-0 left-1/2 bg-red-500 -translate-x-1/2;
      }
    }
  }

  .logo-hexa {
    transform: scale(1.25) translateY(-3rem);
    @apply relative -mx-4 opacity-0;

    a {
      @apply p-0;
    }
  }

  &.animate-in {
    @include animationCom(dynamicZoom, 500ms, 200ms);

    > a {
      @include animationCom(dynamicContent, 500ms, 300ms);
    }

    .logo-hexa {
      @include animationCom(dynamicLogo, 200ms, 800ms);
    }
  }

  @include media-breakpoint-up("xl") {
    @apply rounded-3xl;
  }
}
